/* TeamSection.css */

.team-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #F5F5F5;
  }
  
  .team-header {
    margin-bottom: 40px;
  }
  
  .team-label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffd700;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: -900px;
    font-family: Lato sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 23.6px;
letter-spacing: 0.145em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  
  .team-header h2 {
    font-size: 32px;
    color: #000;
    margin: 20px 0;
    margin-left: -670px;
    
  }
  
  .team-header p {
    font-size: 16px;
    color: #555;

    margin: 0 auto;
    margin-left: -450px;
  }
  
  .team-grid {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-card {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .team-image {
    position: relative;
    margin-bottom: 20px;
  }
  
  .team-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .team-role {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .team-card h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 90px;
    color: #333;
  }
  
  .team-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .team-social {
    display: flex;
    gap: 30px;
    justify-content: center;
    
  }
  
  .team-social a {
    font-size: 18px;
    color: #666;
    transition: color 0.3s;
  }
  
  .team-social a:hover {
    color: #000;
  }
  